body {
  margin: 32px 64px;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  margin: 16px 8px;
  width: 256px;
  display: inline-flex;
}

.card__item {
  border-radius: 16px;
  width: 100%;
  height: fit-content;
}
